<p>Crypteron CloudMedic - A bootstrapped healthcare app by Crypteron for our fans and customers. Secured by CipherDB and CipherStor</p>

<h4>Crypteron</h4>

<address>    
    101 W Broadway, #200<br />
    San Diego, CA 92101<br />    
</address>

<address>
    <i class="fa fa-phone"></i> (858) 333-7329 <br />
    <i class="fa fa-envelope-o"></i> <a href="mailto:info@crypteron.com">info@crypteron.com</a> 
</address>