@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CloudMedic <span class="glyphicon glyphicon-plus text-danger" aria-hidden="true"></span></h1>
    <p class="lead">
        This is Crypteron CloudMedic - An open-sourced bootstrapped healthcare app secured by CipherDB to help you get started 
        quickly. <small><a href="http://gunston.gmu.edu/healthscience/709/DataWarehouses.asp" target="_blank">(Sample schema)</a></small>
    </p>
    <p>
        <a href="http://crypteron.com/cipherdb" class="btn btn-primary btn-lg">Learn more about CipherDB &nbsp;&nbsp;<span class="glyphicon glyphicon-circle-arrow-right"></span></a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>HIPAA Compliance&nbsp;<i class="fa fa-check-square-o"></i></h2>
        <p>See how CipherDB helps your application make HIPAA compliance a breeze!</p>
        <p><a class="btn btn-default" href="https://crypteron.com/hipaa/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Register for free&nbsp;<i class="fa fa-rocket"></i></h2>
        <p>
            Why wait? Sign up for free today and say goodbye to data breaches!
        </p>
        <p><a href="http://www.crypteron.com/register/" class="btn btn-success">Sign up <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
    </div>
    <div class="col-md-4">
        <h2>Developer friendly&nbsp;<i class="fa fa-heart"></i></h2>
        <p>See the <a href="https://crypteron.com/cipherdb-developers-guide/">CipherDB Developer's Guide</a> for more information</p>
        <p>We also have additional <a href="https://github.com/crypteron/crypteron-sample-apps">sample apps on GitHub</a> to help you</p>        
    </div>
</div>