<h2>WARNING! Are you sure you want to wipe the entire Patients table?</h2>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            This database contains fictious dummy data. Feel free to delete as you play with the demo.
        </div>
    </div>
</div>

@using (Html.BeginForm("WipeallConfirmed", "Person"))
{
    @Html.ValidationSummary(true)
    <fieldset>        
        <button type="submit" class="btn btn-warning btn-lg">Yes, DELETE ALL&nbsp;&nbsp;<i class="fa fa-exclamation-triangle"></i></button>
    </fieldset>
}
